<h1 class="sidebar-header large-screen-only">Browninglogic Radio</h1>
<nav class="sidebar-nav">
  <ul class="nav-list">
    <li>
      <a routerLink="suggested-stations" routerLinkActive="active-route">Suggested</a>
    </li>
    <li>
        <a routerLink="now-playing" routerLinkActive="active-route">Now Playing</a>
    </li>
    <li>
        <a routerLink="radio-browser" routerLinkActive="active-route">Radio Browser</a>
    </li>
    <li>
        <a routerLink="favorites" routerLinkActive="active-route">Favorites</a>
    </li>
  </ul>
</nav>