<h1 class="sidebar-header large-screen-only">Browninglogic Radio</h1>
<nav class="sidebar-nav">
  <ul class="nav-list">
    <li>
      <a routerLink="suggested-stations" routerLinkActive="active-route">Suggested</a>
    </li>
    <li>
      <a routerLink="now-playing" routerLinkActive="active-route">Now Playing</a>
    </li>
    <li>
      <a routerLink="radio-browser" routerLinkActive="active-route">Radio Browser</a>
    </li>
    <li>
      <a (click)="onCustomStationClicked()" href="javascript:void(0);">Custom Station</a>
    </li>
    <li>
      <a routerLink="favorites" routerLinkActive="active-route">Favorites</a>
    </li>
    <li>
      @if (authenticated$ | async) {
        <a (click)="onLogoutClicked()" href="javascript:void(0);">Log Out</a>
      } @else {
        <a (click)="onLoginClicked()" href="javascript:void(0);">Log In</a>
      }
    </li>
  </ul>
</nav>