@import '../../../styles/variables';

.now-playing {
    font-size:12px;
    line-height:18px;
    overflow: hidden;
    
    @media (max-width:$smallScreenCutoff - 1) {
        width:calc(100% - 125px);
    }
    @media (min-width:$smallScreenCutoff) {
        width:50%;
    }
}

.sleep-indicator {
    align-items: center;
    
    @media (min-width:$smallScreenCutoff) {
        display: flex;
    }

    mat-icon {
        margin-right: 3px;
    }
}

.marquee {
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    25%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.no-sleep-indicator {
    margin-right:6px;
}