<mat-toolbar color="primary" class="fixed-toolbar fixed-toolbar-bottom">
  <ng-container *ngIf="stationSelected">
    <img class="station-icon" [src]="nowPlaying.iconUrl" (error)="onImgError($event.target)" >
    <div class="now-playing">
      <div class="title" #title [class.marquee]="isElementOverflowing(title)">{{nowPlaying.title}}</div>
      <div class="station" #station [class.marquee]="isElementOverflowing(station)">{{nowPlaying.station}}</div>
    </div>
    <span class="fill-remaining"></span>
    <button *ngIf="paused" mat-fab color="accent" (click)="onPlayClicked()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button *ngIf="!paused" mat-fab color="accent" (click)="onPauseClicked()">
      <mat-icon>pause</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>