@import '../../../styles/variables';

.station-info {
    font-size:12px;
    line-height:18px;
    overflow: hidden;
    
    @media (max-width:$smallScreenCutoff - 1) {
        width:calc(100% - 125px);
    }
    @media (min-width:$smallScreenCutoff) {
        width:50%;
    }
}

.indicator-icon {
    align-items: center;
    
    @media (min-width:$smallScreenCutoff) {
        display: flex;
    }

    mat-icon {
        margin:0px 4px;
    }
}

.play-pause-button {
    margin-left:8px;
}