@import './variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.fill-remaining {
    flex: 1 1 auto;
}

table.mat-table.selectable-rows .mat-row,
table.mat-table .mat-row.selectable-row {
    cursor: pointer;
}

@media (min-width:$smallScreenCutoff) {
    .small-screen-only,
    .mat-toolbar.small-screen-only,
    .mat-icon-button.small-screen-only,
    .mat-menu-item.small-screen-only {
        display: none;
    }
}

@media (max-width:$smallScreenCutoff - 1) {
    .large-screen-only {
        display: none;
    }
}

.mat-toolbar .mat-raised-button {
    margin:0px 6px;
}

table.mat-table {
    width:100%;
    /* Use a fixed layout for mat-tables on small screens 
    to prevent them from overflowing. */
    @media (max-width:$smallScreenCutoff - 1) {
        table-layout: fixed;
    }
}

.station-icon-thumb {
    max-width:56px;
    max-height: 56px;
    margin:4px;
}

.flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column-third,
.flex-column-half {
    flex-basis: 100%;
    max-width: 100%;
    padding: 10px;
}

@media (min-width:$smallScreenCutoff) {
    .flex-column-third {
        flex-basis: 33%;
        max-width: 33%;
    }

    .flex-column-half {
        flex-basis: 50%;
        max-width: 50%;
    }
}

.bulletless-list {
    list-style-type: none;
    margin:0;
    padding:0;

    li {
        margin:5px;
    }
}

fieldset {
    border:none;
}

.off-white {
    color: $offWhite;
}