@import './variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.fill-remaining {
    flex: 1 1 auto;
}

table.mat-table.selectable-rows {
    .mat-row {
        cursor: pointer;
    }
}

@media (min-width:$smallScreenCutoff) {
    .small-screen-only {
        display: none;
    }
}

@media (max-width:$smallScreenCutoff - 1) {
    .large-screen-only {
        display: none;
    }
}

.fixed-toolbar.mat-toolbar-single-row {
    position: fixed;
    left:0px;
    z-index:2;
    height:$toolbarHeight;
}

.fixed-toolbar-top {
    top:0px;
}

.fixed-toolbar-bottom {
    bottom:0px;
}

.mat-toolbar .mat-raised-button {
    margin:0px 6px;
}

table.mat-table {
    width:100%;
}