.vertical-layout-container {
    height:100vh;
    display:flex;
    flex-direction: column;
}

.top-toolbar,
.bottom-toolbar {
    flex:0 0 60px;
}

.app-container {
    flex: 1 1 auto;
    width:100%;
    overflow-y: auto;
}

// Center the main app content 
.app-content {
    margin:10px auto;
    padding:0px 10px;
    width:1250px;
    max-width: 90%;
}