<div class="small-screen-only">
  <mat-toolbar color="primary" class="fixed-toolbar fixed-toolbar-top">
    <span class="title">Browninglogic Radio</span>
    <span class="fill-remaining"></span>
    <button mat-icon-button (click)="sideNavContainer.toggle()"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>
</div>

<div class="app-container">
  <responsive-sidenav-container #sideNavContainer>
    <sidenav sidenav></sidenav>
    <div content class="app-content">
      <router-outlet></router-outlet>
    </div>
  </responsive-sidenav-container>
</div>

<player-bar></player-bar>

<error-window></error-window>
<nli-loading-indicator></nli-loading-indicator>
<p-toast></p-toast>