@import 'variables';

.station-info {
    font-size:12px;
    line-height:18px;
    overflow: hidden;
    
    @media (max-width:$smallScreenCutoff - 1) {
        width:calc(100% - 125px);
    }
    @media (min-width:$smallScreenCutoff) {
        width:50%;
    }
}

.indicator-icon {
    align-items: center;
    display: flex;

    mat-icon {
        margin:0px 4px;
    }
}

.selectable {
    cursor: pointer;
}

.play-pause-button {
    margin-left:8px;
}

:host ::ng-deep .mat-spinner circle {
    stroke:$offWhite;
}

.spinner-container {
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
}

.loading-audio-spinner {
    width:64px;
    justify-content: center;
}

mat-toolbar {
    height:100%;
}