<mat-toolbar color="primary">
  <img [iconUrl]="currentStation.iconUrl" blrStationIcon (click)="onNowPlayingClicked()" class="station-icon-thumb" >
  <div class="station-info-container">
    <blr-player-bar-station-info (click)="onNowPlayingClicked()" [currentPlayerStatus]="playerStatus"
      [currentStation]="currentStation" [metadataForCurrentStation]="metadataForCurrentStation">
    </blr-player-bar-station-info>
  </div>
  <div [class.off-white]="(minutesToSleep$ | async) === null" [matMenuTriggerFor]="sleepTimerMenu"
    [matTooltip]="(minutesToSleep$ | async) === null ? 'Sleep timer is disabled' : 'Sleep timer is set'"
    class="indicator-icon selectable large-screen-only" >
    <mat-icon>timer</mat-icon> <span class="minutes-until-sleep">{{ minutesToSleep$ | async }}</span>
  </div>
  @if (favoritesProcessingState) {
    <div class="indicator-icon large-screen-only" [matTooltip]="favoritesProcessingTooltip()">
      <mat-spinner diameter="25"></mat-spinner>
    </div>
  } @else {
    @if (favoriteMatchingCurrentStation) {
      <div (click)="onRemoveFromFavoritesClicked()" class="indicator-icon selectable large-screen-only" matTooltip="Remove From Favorites">
        <mat-icon>favorite</mat-icon>
      </div>
    } @else {
      <div (click)="onAddToFavoritesClicked()" class="indicator-icon selectable large-screen-only off-white" matTooltip="Add To Favorites">
        <mat-icon>favorite</mat-icon>
      </div>
    }
  }
  <button mat-icon-button [matMenuTriggerFor]="menu" class="small-screen-only">
    <mat-icon>more_vert</mat-icon>
  </button>
  <div class="play-pause-button">
    @if (playerStatus === playerStatusEnum.Playing) {
      <button mat-fab color="accent" (click)="onPauseClicked()">
        <mat-icon>pause</mat-icon>
      </button>
    } @else {
      <button mat-fab color="accent" [disabled]="playerStatus === playerStatusEnum.LoadingAudio" (click)="onPlayClicked()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    }
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="sleepTimerMenu">
    <mat-icon>timer</mat-icon>
    <span>Sleep Timer</span>
  </button>
  @if (favoritesProcessingState) {
    <button mat-menu-item>
      <span class="spinner-container">
        <mat-spinner diameter="25"></mat-spinner>
      </span>
      <span>{{ favoritesProcessingState }}</span>
    </button>
  } @else {
    @if (favoriteMatchingCurrentStation) {
      <button (click)="onRemoveFromFavoritesClicked()" mat-menu-item>
        <mat-icon>favorite</mat-icon>
        <span>Remove From Favorites</span>
      </button>
    } @else {
      <button mat-menu-item (click)="onAddToFavoritesClicked()">
        <mat-icon>favorite</mat-icon>
        <span>Add To Favorites</span>
      </button>
    }
  }
</mat-menu>

<mat-menu #sleepTimerMenu="matMenu">
  <button mat-menu-item (click)="onCancelTimerClicked()">
    <span>Cancel Timer</span>
  </button>
  <button mat-menu-item (click)="onTimerSelected(1)">
    <span>1 Minute</span>
  </button>
  <button mat-menu-item (click)="onTimerSelected(5)">
    <span>5 Minutes</span>
  </button>
  <button mat-menu-item (click)="onTimerSelected(15)">
    <span>15 Minutes</span>
  </button>
  <button mat-menu-item (click)="onTimerSelected(30)">
    <span>30 Minutes</span>
  </button>
  <button mat-menu-item (click)="onTimerSelected(60)">
    <span>60 Minutes</span>
  </button>
  <button mat-menu-item (click)="onTimerSelected(120)">
    <span>120 Minutes</span>
  </button>
</mat-menu>