@import 'variables';

.station-info-container {
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  flex: 1 1 auto;
}

.indicator-icon {
  align-items: center;
  display: flex;

  mat-icon {
    margin: 0px 4px;
  }
}

.selectable {
  cursor: pointer;
}

.play-pause-button {
  flex: 0 0 auto;
  overflow: hidden;
}

:host ::ng-deep .mat-mdc-progress-spinner circle {
  stroke: $offWhite;
}

.spinner-container {
  display: inline-block;
  margin-right: 16px;
  vertical-align: middle;
}

mat-toolbar {
  height: 100%;
}
