<mat-toolbar color="primary">
  <img [iconUrl]="currentStation.iconUrl" blrStationIcon (click)="onNowPlayingClicked()" class="station-icon-thumb" >
  <div class="station-info-container">
    <blr-player-bar-station-info (click)="onNowPlayingClicked()" [currentPlayerStatus]="playerStatus"
      [currentStation]="currentStation" [metadataForCurrentStation]="metadataForCurrentStation">
    </blr-player-bar-station-info>
  </div>
  <div [class.off-white]="(minutesToSleep$ | async) === null" [matMenuTriggerFor]="sleepTimerMenu" 
    [matTooltip]="(minutesToSleep$ | async) === null ? 'Sleep timer is disabled' : 'Sleep timer is set'"
    class="indicator-icon selectable large-screen-only" >
    <mat-icon>timer</mat-icon> <span class="minutes-until-sleep">{{ minutesToSleep$ | async }}</span>
  </div>
  <ng-container *ngIf="favoritesProcessingState; else favoritesProcessedIcon">
    <div class="indicator-icon large-screen-only" [matTooltip]="favoritesProcessingTooltip()">
      <mat-spinner diameter="25"></mat-spinner>
    </div>
  </ng-container>
  <ng-template #favoritesProcessedIcon>
    <div *ngIf="favoriteMatchingCurrentStation; else notInFavoritesIcon" (click)="onRemoveFromFavoritesClicked()" class="indicator-icon selectable large-screen-only" matTooltip="Remove From Favorites">
      <mat-icon>favorite</mat-icon>
    </div>
    <ng-template #notInFavoritesIcon>
      <div (click)="onAddToFavoritesClicked()" class="indicator-icon selectable large-screen-only off-white" matTooltip="Add To Favorites">
        <mat-icon>favorite</mat-icon>
      </div>
    </ng-template>
  </ng-template>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="small-screen-only">
    <mat-icon>more_vert</mat-icon>
  </button>
  <div class="play-pause-button">
    <mat-spinner-button *ngIf="playerStatus === playerStatusEnum.Playing; else pauseBtn"
      (btnClick)="onPauseClicked()" [options]="pauseBtnOptions">
    </mat-spinner-button>
    <ng-template #pauseBtn>
      <mat-spinner-button [active]="playerStatus === playerStatusEnum.LoadingAudio"
        (btnClick)="onPlayClicked()" [options]="playBtnOptions">
      </mat-spinner-button>
    </ng-template>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="sleepTimerMenu">
    <mat-icon>timer</mat-icon>
    <span>Sleep Timer</span>
  </button>
  <button *ngIf="favoritesProcessingState; else favoritesProcessedMenuItem" mat-menu-item>
    <span class="spinner-container">
      <mat-spinner diameter="25"></mat-spinner>
    </span>
    <span>{{ favoritesProcessingState }}</span>
  </button>
  <ng-template #favoritesProcessedMenuItem>
    <button *ngIf="favoriteMatchingCurrentStation; else notInFavoritesMenuItem" (click)="onRemoveFromFavoritesClicked()" mat-menu-item>
      <mat-icon>favorite</mat-icon>
      <span>Remove From Favorites</span>
    </button>
    <ng-template #notInFavoritesMenuItem>
      <button mat-menu-item (click)="onAddToFavoritesClicked()">
        <mat-icon>favorite</mat-icon>
        <span>Add To Favorites</span>
      </button>
    </ng-template>
  </ng-template>
</mat-menu>

<mat-menu #sleepTimerMenu="matMenu">
  <button mat-menu-item (click)="onCancelTimerClicked()">
    <span>Cancel Timer</span>
  </button>
  <button mat-menu-item (click)="onTimerSelected(1)">
    <span>1 Minute</span>
  </button>
  <button mat-menu-item (click)="onTimerSelected(5)">
    <span>5 Minutes</span>
  </button>
  <button mat-menu-item (click)="onTimerSelected(15)">
    <span>15 Minutes</span>
  </button>
  <button mat-menu-item (click)="onTimerSelected(30)">
    <span>30 Minutes</span>
  </button>
  <button mat-menu-item (click)="onTimerSelected(60)">
    <span>60 Minutes</span>
  </button>
  <button mat-menu-item (click)="onTimerSelected(120)">
    <span>120 Minutes</span>
  </button>
</mat-menu>