<mat-toolbar color="primary">
  <img class="station-icon-thumb" [src]="(currentStation$ | async).iconUrl" (click)="onNowPlayingClicked()" (error)="onImgError($event.target)" >
  <blr-player-bar-station-info (click)="onNowPlayingClicked()" [currentPlayerStatus]="playerStatus$ | async"
    [currentStation]="currentStation$ | async" [validatingCurrent]="validatingCurrent$ | async">
  </blr-player-bar-station-info>
  <div [class.off-white]="(minutesUntilSleep$ | async) == null" [matMenuTriggerFor]="sleepTimerMenu.menu" 
    [matTooltip]="(minutesUntilSleep$ | async) == null ? 'Sleep timer is disabled' : 'Sleep timer is set'"
    class="indicator-icon selectable large-screen-only" >
    <mat-icon>timer</mat-icon> <span class="minutes-until-sleep">{{ minutesUntilSleep$ | async}}</span>
  </div>
  <div (click)="keepAwakeService.toggle()" [class.off-white]="(keepAwakeService.enabled$ | async) == false" 
    [matTooltip]="(keepAwakeService.enabled$ | async) ? 'Keep Awake is enabled' : 'Keep Awake is disabled'" 
    class="indicator-icon selectable large-screen-only keep-awake">
    <mat-icon>settings_cell</mat-icon>
  </div>
  <ng-container *ngIf="(processingFavorites$ | async); else favoritesProcessedIcon">
    <div class="indicator-icon large-screen-only" [matTooltip]="decideFavoritesProcessingTooltipText(favoritesProcessingState$ | async)">
      <mat-spinner diameter="25"></mat-spinner>
    </div>
  </ng-container>
  <ng-template #favoritesProcessedIcon>
    <div *ngIf="(currentStation$ | async).stationId; else notInFavoritesIcon" (click)="onRemoveFromFavoritesClicked()" class="indicator-icon selectable large-screen-only" matTooltip="Remove From Favorites">
      <mat-icon>favorite</mat-icon>
    </div>
    <ng-template #notInFavoritesIcon>
      <div (click)="onAddToFavoritesClicked()" class="indicator-icon selectable large-screen-only off-white" matTooltip="Add To Favorites">
        <mat-icon>favorite</mat-icon>
      </div>
    </ng-template>
  </ng-template>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="small-screen-only">
    <mat-icon>more_vert</mat-icon>
  </button>
  <div class="play-pause-button">
    <mat-spinner-button *ngIf="[playerStatus.LoadingAudio, playerStatus.Stopped].includes(playerStatus$ | async) || (validatingCurrent$ | async); else pauseBtn"
      [active]="(playerStatus$ | async) == playerStatus.LoadingAudio || (validatingCurrent$ | async)"
      (btnClick)="onPlayClicked()" [options]="playBtnOptions">
    </mat-spinner-button>
    <ng-template #pauseBtn>
      <mat-spinner-button (btnClick)="onPauseClicked()" [options]="pauseBtnOptions">
      </mat-spinner-button>
    </ng-template>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="sleepTimerMenu.menu">
    <mat-icon>timer</mat-icon>
    <span>Sleep Timer</span>
  </button>
  <button mat-menu-item (click)="keepAwakeService.toggle()">
    <mat-icon>settings_cell</mat-icon>
    <span>Toggle Keep Awake</span>
  </button>
  <button *ngIf="processingFavorites$ | async; else favoritesProcessedMenuItem" mat-menu-item>
    <span class="spinner-container">
      <mat-spinner diameter="25"></mat-spinner>
    </span>
    <span>{{ favoritesProcessingState$ | async }}</span>
  </button>
  <ng-template #favoritesProcessedMenuItem>
    <button *ngIf="(currentStation$ | async).stationId; else notInFavoritesMenuItem" (click)="onRemoveFromFavoritesClicked()" mat-menu-item>
      <mat-icon>favorite</mat-icon>
      <span>Remove From Favorites</span>
    </button>
    <ng-template #notInFavoritesMenuItem>
      <button mat-menu-item (click)="onAddToFavoritesClicked()">
        <mat-icon>favorite</mat-icon>
        <span>Add To Favorites</span>
      </button>
    </ng-template>
  </ng-template>
</mat-menu>

<blr-sleep-timer-menu #sleepTimerMenu></blr-sleep-timer-menu>