<div #title [ngSwitch]="playerStatus$ | async" class="title" [class.marquee]="titleMarquee">
    <ng-container *ngSwitchCase="playerStatus.LoadingAudio">Loading Audio...</ng-container>
    <ng-container *ngSwitchCase="playerStatus.Stopped">
        <ng-container *ngIf="validatingCurrent$ | async">Validating Stream...</ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="playerStatus.Playing">
        <ng-container *ngIf="nowPlaying$ | async; else noNowPlaying; let nowPlaying">
            {{ nowPlaying.title }}
        </ng-container>
        <ng-template #noNowPlaying>
            <ng-container [ngSwitch]="streamInfoStatus$ | async">
                <ng-container *ngSwitchCase="streamInfoStatus.LoadingStreamInfo">
                    Loading Stream Info...
                </ng-container>
                <ng-container *ngSwitchCase="streamInfoStatus.Error">
                    Metadata Unavailable
                </ng-container>
            </ng-container>
        </ng-template>
    </ng-container>
</div>
<div #station class="station" [class.marquee]="stationMarquee">{{ (currentStation$ | async).title }}</div>