<div #title [ngSwitch]="currentPlayerStatus" class="title" [class.marquee]="titleMarquee">
    <ng-container *ngSwitchCase="playerStatus.LoadingAudio">Loading Audio...</ng-container>
    <ng-container *ngSwitchCase="playerStatus.Stopped">
        <ng-container *ngIf="validatingCurrent">Validating Stream...</ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="playerStatus.Playing">
        <blr-stream-info-text [metadata]="metadataForCurrentStation$ | async"></blr-stream-info-text>
    </ng-container>
</div>
<div #station class="station" [class.marquee]="stationMarquee">{{ currentStation.title }}</div>