<h1 class="mat-headline">Radio Browser API Search</h1>

<div class="flex-grid">
  <mat-form-field class="flex-column-third">
    <input matInput [(ngModel)]="nameSearch" (keyup)="nameSearch$.next($event.target.value)" placeholder="Station Name" matTooltip="Search Stations by name">
  </mat-form-field>
  <mat-form-field class="flex-column-third">
    <input matInput [(ngModel)]="tagSearch" (keyup)="tagSearch$.next($event.target.value)" placeholder="Tag" matTooltip="Search Stations by tag">
  </mat-form-field>
</div>
  
<table mat-table [dataSource]="stations" class="selectable-rows">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let station"> {{station.name}}</td>
  </ng-container>
  <ng-container matColumnDef="tags">
    <th mat-header-cell *matHeaderCellDef >Tags</th>
    <td mat-cell *matCellDef="let station">
      <ul class="tag-list">
        <li *ngFor="let tag of station.tags">{{tag}}</li>
      </ul>
    </td>
  </ng-container>
  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef>Icon</th>
    <td mat-cell *matCellDef="let station"><img *ngIf="station.favicon" class="station-icon-thumb" [src]="station.favicon" onerror="this.style.display='none'"></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let station; columns: columns" (click)="onRowClicked(station)"></tr>
</table>