<h1 class="mat-headline">Now Playing</h1>

<div *ngIf="currentStation$ | async; then selected else notSelected"></div>

<ng-template #selected>
  <div class="flex-grid">
    <div class="flex-column-third">
      <img [src]="(currentStation$ | async).iconUrl" class="station-icon" (error)="onImgError($event.target, '/assets/images/radio.svg')" >
    </div>
    <div class="flex-column-third">
      <div class="now-playing">
        <div [ngSwitch]="playerStatus$ | async" class="title">
          <ng-container *ngSwitchCase="playerStatus.LoadingAudio">Loading Audio...</ng-container>
          <ng-container *ngSwitchCase="playerStatus.Stopped">
              <ng-container *ngIf="validatingCurrent$ | async">Validating Stream...</ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="playerStatus.Playing">
              <ng-container *ngIf="nowPlaying$ | async; else noNowPlaying">
                  {{ (nowPlaying$ | async).title }}
              </ng-container>
              <ng-template #noNowPlaying>
                  <ng-container [ngSwitch]="streamInfoStatus$ | async">
                      <ng-container *ngSwitchCase="streamInfoStatus.LoadingStreamInfo">
                          Loading Stream Info...
                      </ng-container>
                      <ng-container *ngSwitchCase="streamInfoStatus.Error">
                          Metadata Unavailable
                      </ng-container>
                  </ng-container>
              </ng-template>
          </ng-container>
        </div>
        <div class="station-title">{{ (currentStation$ | async).title }}</div>
        <div *ngIf="(nowPlaying$ | async)?.bitrate" class="bitrate">Bitrate: {{ (nowPlaying$ | async)?.bitrate }}</div>
        <div *ngIf="(minutesUntilSleep$ | async) != null" class="minutes-until-sleep">
          Sleeping in {{minutesUntilSleep$ | async}} minutes
        </div>
        <div class="keep-awake" *ngIf="(keepAwakeService.enabled$ | async) == true">
          Keeping Awake
        </div>
      </div>
    </div>
    <div class="flex-column-third">
      <ul class="bulletless-list action-items">
        <li class="play-pause">
          <button mat-raised-button *ngIf="(playerStatus$ | async) == playerStatus.Stopped; else notStopped" (click)="onPlayClicked()" color="primary">Play</button>
          <ng-template #notStopped>
            <button mat-raised-button [disabled]="(playerStatus$ | async) == playerStatus.LoadingAudio || (validatingCurrent$ | async)" (click)="onPauseClicked()" color="primary">Pause</button>
          </ng-template>
        </li>
        <li>
          <button mat-raised-button color="primary" [matMenuTriggerFor]="sleepTimerMenu.menu">Sleep Timer</button>
        </li>
        <li class="keep-awake">
          <button *ngIf="(keepAwakeService.enabled$ | async) == false" (click)="keepAwakeService.enable()" mat-raised-button color="primary" matTooltip="This will attempt to keep the screen from locking on mobile devices.">Enable Keep Awake</button>
          <button *ngIf="(keepAwakeService.enabled$ | async) == true" (click)="keepAwakeService.disable()" mat-raised-button color="primary">Disable Keep Awake</button>
        </li>
        <li>
          <button *ngIf="processingFavorites$ | async; else favoritesProcessed" disabled mat-raised-button type="button" color="primary">
            {{ favoritesProcessingState$ | async }}
          </button>
          <ng-template #favoritesProcessed>
            <button *ngIf="isCurrentStationInFavorites$ | async; else notInFavorites" (click)="onRemoveFromFavoritesClicked()" mat-raised-button type="button" color="primary">
              Remove From Favorites
            </button>
            <ng-template #notInFavorites>
              <button (click)="onAddToFavoritesClicked()" mat-raised-button type="button" color="primary">
                Add To Favorites
              </button>
            </ng-template>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #notSelected>
  <p>
    There's no media selected.  Please go to the <a [routerLink]="['../radio-browser']">Radio Browser Search</a> or 
    <a [routerLink]="['../suggested-stations']">Suggested Stations</a> to find a station to play or 
    <a [routerLink]="['../custom-station']">enter a custom URL</a>.
  </p>
</ng-template>

<blr-sleep-timer-menu #sleepTimerMenu (timerSelected)="onTimerSelected($event)"></blr-sleep-timer-menu>