<h1 class="mat-headline-5">Now Playing</h1>

@if (currentStation$ | async) {
  <div class="flex-grid">
    <div class="flex-column-third">
      <img [iconUrl]="(currentStation$ | async)?.iconUrl" blrStationIcon class="station-icon">
    </div>
    <div class="flex-column-third">
      <div class="now-playing">
        <div class="title">
          @switch (playerStatus$ | async) {
            @case (playerStatus.LoadingAudio) {
              Loading Audio...
            }
            @case (playerStatus.Playing) {
              <blr-metadata-text [metadata]="currentStreamInfo$ | async"></blr-metadata-text>
            }
          }
        </div>
        <div class="station-title">{{ (currentStation$ | async).title }}</div>
        @if ((minutesUntilSleep$ | async) !== null) {
          <div class="minutes-until-sleep">
            Sleeping in {{minutesUntilSleep$ | async}} minutes
          </div>
        }
      </div>
    </div>
    <div class="flex-column-third">
      <ul class="bulletless-list action-items">
        <li>
          @if ((currentStation$ | async).stationId) {
            <button (click)="onEditFavoriteClicked()" mat-raised-button color="primary">Edit Favorite</button>
          }
        </li>
      </ul>
    </div>
  </div>
} @else {
  <p>
    There's no media selected.  Please go to the <a [routerLink]="['../radio-browser']">Radio Browser Search</a> or
    <a [routerLink]="['../suggested-stations']">Suggested Stations</a> to find a station to play or
    <a [routerLink]="['../custom-station']">enter a custom URL</a>.
  </p>
}


