<p-dialog [header]="existingStation ? 'Edit ' + existingStation.title :  'Open Custom URL'" [visible]="true" (visibleChange)="onVisibleChanged($event)" [draggable]="false" [modal]="true" styleClass="station-modal">
  <form #form="ngForm">
    <fieldset class="flex-grid">
      <mat-form-field class="flex-column-half">
        <input matInput [(ngModel)]="stationPending.title" [disabled]="saveInProgress" #titleInput="matInput" #title="ngModel" required name="title" placeholder="Station Title">
        @if (title.hasError('required')) {
          <mat-error>Title is required.</mat-error>
        }
      </mat-form-field>
      <div class="flex-column-half form-field-spinner-container">
        <mat-form-field>
          <input matInput [(ngModel)]="stationPending.url" [disabled]="saveInProgress" #url="ngModel" required blrStreamUrlValidator name="url" placeholder="Stream URL" pattern="https?://.+">
          @if (url.hasError('required')) {
            <mat-error>Stream URL is required.</mat-error>
          }
          @if (url.hasError('pattern')) {
            <mat-error>Stream URL must be a valid URL.</mat-error>
          }
          @if (url.hasError('invalidStream')) {
            <mat-error>Failed to load the stream.  Please double-check the URL.</mat-error>
          }
        </mat-form-field>
        @if (url.pending) {
          <mat-spinner diameter="25"></mat-spinner>
        }
      </div>
      <mat-form-field class="flex-column-half">
        <input matInput [(ngModel)]="stationPending.iconUrl" [disabled]="saveInProgress" #iconUrl="ngModel" name="icon-url" placeholder="Icon URL" pattern="https?://.+">
        @if (iconUrl.hasError('pattern')) {
          <mat-error>Icon URL must be a valid URL.</mat-error>
        }
      </mat-form-field>
    </fieldset>
  </form>
  <ng-template #footer>
    @if (!existingStation) {
      <button mat-button (click)="onOpenClicked()" [disabled]="saveInProgress">Open</button>
    }
    <button mat-button (click)="onSaveClicked()" [disabled]="saveInProgress || fetchingFavorites">Save</button>
    <button mat-button (click)="closeEditor()" [disabled]="saveInProgress">Cancel</button>
  </ng-template>
</p-dialog>