<h1 class="mat-headline-5">Suggested Stations</h1>

@if (developerSuggested$ | async) {
  <blr-suggested-stations-section [stations]="developerSuggested$ | async" (stationSelected)="onStationSelected($event)" header="Developer Suggested Stations"></blr-suggested-stations-section>
}
@if (topClicked$ | async) {
  <blr-suggested-stations-section [stations]="topClicked$ | async" (stationSelected)="onStationSelected($event)" header="Top Clicked Stations From Radio Browser API"></blr-suggested-stations-section>
}
@if (topVoted$ | async) {
  <blr-suggested-stations-section [stations]="topVoted$ | async" (stationSelected)="onStationSelected($event)" header="Top Voted Stations From Radio Browser API"></blr-suggested-stations-section>
}