/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.fill-remaining {
    flex: 1 1 auto;
}

table.mat-table.selectable-rows {
    .mat-row {
        cursor: pointer;
    }
}

@media (min-width:800px) {
    .small-screen-only {
        display: none;
    }
}

@media (max-width:800px) {
    .large-screen-only {
        display: none;
    }
}

.fixed-toolbar.mat-toolbar-single-row {
    position: fixed;
    left:0px;
    z-index:2;
    height:60px;
}

.fixed-toolbar-top {
    top:0px;
}

.fixed-toolbar-bottom {
    bottom:0px;
}