# .github/workflows/build-on-pull-request.yml
name: Build On Pull Request

on:
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build-template.yml
    concurrency:
      group: pull-request-build
      cancel-in-progress: false
