@import 'variables';

// Special styles for small screens
@media (max-width: $smallScreenCutoff - 1) {
  /* We want the Station title to take up a little bit less
    space than the now playing text. */
  .mat-column-name {
    width: 40%;
  }

  .mat-column-tags,
  .mat-column-icon {
    display: none;
  }
}

.tag-list {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
    display: inline-block;
    margin: 4px;
    background-color: $offWhite;
    padding: 7px;
    border-radius: 15px;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version.*/
.mat-table-spinner,
::ng-deep .mat-mdc-autocomplete .loading .mat-option-text {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-mdc-option.loading {
  height: 60px;
}
