@import 'variables';

.tag-list {
    padding:0;
    margin:0;

    li {
        list-style-type: none;
        display: inline-block;
        margin:4px;
        background-color:$offWhite;
        padding:7px;
        border-radius: 15px;
    }
}

.mat-table-spinner {
    display: flex;
    justify-content: center;
}