<h1 class="mat-headline">Radio Browser API Search</h1>

<div class="flex-grid">
  <mat-form-field class="flex-column-third">
    <mat-label>Country</mat-label>
    <mat-select [ngModel]="selectedCountry$ | async" (ngModelChange)="onCountryChanged($event)">
      <mat-option>
        <ngx-mat-select-search [ngModel]="countryFilter$ | async" (ngModelChange)="onCountryFilterChanged($event)" placeholderLabel="Find country..." noEntriesFoundLabel="No matches found"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let country of (countries$ | async)" [value]="country.code">
        {{country.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="flex-column-third">
    <input matInput #nameSearchInput="matInput" [ngModel]="nameSearch" (ngModelChange)="onNameTermChanged($event)" placeholder="Station Name" matTooltip="Search Stations by name">
  </mat-form-field>
  <mat-form-field class="flex-column-third">
    <input matInput [ngModel]="tagSearch" (ngModelChange)="onTagTermChanged($event)" [matAutocomplete]="tagAutocomplete" (focus)="onTagFocused()" placeholder="Tag" matTooltip="Search Stations by tag">
  </mat-form-field>
</div>

<mat-autocomplete #tagAutocomplete="matAutocomplete" (optionSelected)="onTagTermSelected($event.option.value)">
  <mat-option *ngIf="fetchingTagSuggestions$ | async; else notFetchingTagSuggestions" disabled class="loading">
    <mat-spinner diameter="50"></mat-spinner>
  </mat-option>
  <ng-template #notFetchingTagSuggestions>
    <mat-option *ngFor="let tag of (tagSuggestions$ | async)" [value]="tag">{{tag}}</mat-option>
  </ng-template>
</mat-autocomplete>
  
<table mat-table [dataSource]="searchResults$ | async" class="selectable-rows mat-elevation-z2">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let station"> {{station.title}}</td>
  </ng-container>
  <ng-container matColumnDef="now-playing">
    <th mat-header-cell *matHeaderCellDef>Now Playing</th>
    <td mat-cell *matCellDef="let station">
      <blr-metadata-text [metadata]="(streamInfo$ | async).get(station.url)"></blr-metadata-text>
    </td>
  </ng-container>
  <ng-container matColumnDef="tags">
    <th mat-header-cell *matHeaderCellDef >Tags</th>
    <td mat-cell *matCellDef="let station">
      <ul class="tag-list">
        <li *ngFor="let tag of station.tags">{{tag}}</li>
      </ul>
    </td>
  </ng-container>
  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef>Icon</th>
    <td mat-cell *matCellDef="let station"><img [iconUrl]="station.iconUrl" blrStationIcon class="station-icon-thumb"></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let station; columns: columns" (click)="onRowClicked(station)"></tr>
</table>
<mat-card *ngIf="isSearchInProgress$ | async" class="mat-table-spinner mat-elevation-z2">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</mat-card>
<mat-card *ngIf="(searchResults$ | async) !== null && (searchResults$ | async).length >= (resultsLimit$ | async)" class="mat-elevation-z2">
  <p>Search limited to the first {{resultsLimit$ | async}} results.</p>
</mat-card>