@import '../../../styles/variables';

.station-icon {
    max-width: 100%;
    max-height: 100%;
}

.title {
    font-weight: bold;
    font-size: 25px;
}

.stationTitle {
    font-size:23px;
}

.flex-column-third {
    padding:10px;
}

.action-items button {
    width:200px;
}

h1,
.flex-grid {
    @media (max-width:$smallScreenCutoff - 1) {
        text-align: center;
    }
}