<h1 class="mat-headline">Now Playing</h1>

<div *ngIf="playerService.stationSelected; then selected else notSelected"></div>

<ng-template #selected>
  <div class="flex-grid">
    <div class="flex-column-third">
      <img [src]="(playerService.nowPlaying$ | async).station.iconUrl" class="station-icon" (error)="onImgError($event.target, '/assets/images/radio.svg')" >
    </div>
    <div class="flex-column-third">
      <div class="now-playing">
        <div [ngSwitch]="(playerService.nowPlaying$ | async).streamInfoStatus" class="title">
          <ng-container *ngSwitchCase="streamInfoStatus.Error">Metadata Unavailable</ng-container>
          <ng-container *ngSwitchCase="streamInfoStatus.Loading">Loading Metadata...</ng-container>
          <ng-container *ngSwitchCase="streamInfoStatus.Valid">{{ (playerService.nowPlaying$ | async).streamInfo?.title }}</ng-container>
        </div>
        <div class="stationTitle">{{ (playerService.nowPlaying$ | async).station.title }}</div>
        <div>{{ (playerService.nowPlaying$ | async).station.title }}</div>
        <div *ngIf="(playerService.nowPlaying$ | async).streamInfo?.bitrate">Bitrate: {{ (playerService.nowPlaying$ | async).streamInfo?.bitrate }}</div>
        <div *ngIf="(sleepTimerService.minutesUntilSleep$ | async) != null">
          Sleeping in {{sleepTimerService.minutesUntilSleep$ | async}} minutes
        </div>
        <div *ngIf="(noSleepService.enabled$ | async) == true">
          Nosleep is enabled
        </div>
      </div>
    </div>
    <div class="flex-column-third">
      <ul class="bulletless-list action-items">
        <li>
          <button mat-raised-button *ngIf="playerService.paused | async" (click)="playerService.play()" color="primary">Play</button>
          <button mat-raised-button *ngIf="!(playerService.paused | async)" (click)="playerService.pause()" color="primary">Pause</button>
        </li>
        <li>
          <button mat-raised-button color="primary" [matMenuTriggerFor]="sleepTimerMenu.menu">Sleep Timer</button>
        </li>
        <li>
          <button *ngIf="(noSleepService.enabled$ | async) == false" (click)="noSleepService.enable()" mat-raised-button color="primary">Enable Nosleep</button>
          <button *ngIf="(noSleepService.enabled$ | async) == true" (click)="noSleepService.disable()" mat-raised-button color="primary">Disable Nosleep</button>
        </li>
        <li>
          <button mat-raised-button color="primary">Action 3</button>
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #notSelected>
  <p>There's no media selected.  Please go to the <a [routerLink]="['/radio-browser']">Radio Browser Search</a> and find a station to play.</p>
</ng-template>

<blr-sleep-timer-menu #sleepTimerMenu (timerSelected)="onTimerSelected($event)"></blr-sleep-timer-menu>